@import "../../scss/variables";

.VideosList {
    background-color: $background-color-elements;
    height: 100%;
    width: 70%;
    padding: 1em 2em;
    border-radius: 3px;
    &-list {
        list-style: none;
    }

    &-errorMsg {
        font-size: 1.4em;
        text-align: center;
    }
}

@media(min-width: 1200px) {
    .VideosList {
        width: 70%;
    }
  }