//COLORS//
$background-color-first: rgb(201, 2, 2);
$background-color-second: rgb(66, 1, 1);
$background-color-elements: rgba(255, 255, 255, 0.85);
$background-color-hovered: rgb(206, 206, 206);
$background-color-spinner: rgb(82, 82, 82);